#page-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    border: 0;
}

#content-wrapper {
    box-sizing: border-box;
    /* padding: 70px 60px 30px; */
    width: 100%;
    border: 0;
}
